// Custom global colors

// Default global colors
$colorText: #000;
$colorBtn: #2c715b;
$colorLink: #2aacc8;
$bgSection: #e8ebf1;
$bgBody: #fff;
$bgFooter: #f6f6f6;

// Widths
$minWidth: 320px;
$maxWidth: 1000px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: 'acrom', Arial, Helvetica, sans-serif;
$_21px: 1.3125em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';