<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    {% block styles %}

    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <script src="./js/require.js"
            data-main="{% block jsEntryPoint %}./js/index{% endblock %}"
    ></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <div id="wrapper">
        <header id="site-header">
            {% block header %}
                {% include './modules/_header.twig' with {header: includes.header} %}
            {% endblock %}
        </header>
        <section id="main">
            {% block content %}

            {% endblock %}
        </section>
        <footer id="site-footer">
            {% block footer %}
                {% include './modules/_footer.twig' with {footer: includes.footer} %}
            {% endblock %}
        </footer>
    </div>
</body>
</html>