{% extends '../_layout.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jsEntryPoint %}./js/map{% endblock %}

{% block content %}
    <div>
        <span>
            <ul>
                <li>
                    Homepage
                </li>
            </ul>
        </span>
    </div>
{% endblock %}