.footer {
  background: $bgGrey;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  &__item {
    margin: 0 5px;
  }
}

.footer-social {
  display: flex;
  &__item {
    margin: 0 5px;
  }
}