.header{
  padding: 0 40px;
  display: flex;
  &__logo{
    margin:0 40px 0 0;
  }
  &__right{
    width:250px;
  }
}
.header-nav{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
  &__item{
    display: flex;
    align-items: center;
  }
  &__link{
    color: #fff;
    display: block;
  }
}
.has-children{
  position: relative;
  .submenu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: darken($colorLink, 5%);
    width: 200px;
    padding: 0 20px;
    z-index: 5;
  }
}