#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container{
    max-width: $maxWidth;
    margin: 0 auto;
  }
}
#site-header{
  background: $colorLink;
}
#main {
  flex-grow: 1;
  position: relative;
}

